<!doctype html>
<html lang="en">
  <head>
    <title>Student Events</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--AngularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="scripts/eventController.js"></script>
    <script src="scripts/eventService.js"></script>
  </head>
  <body ng-app="StudentEvents" ng-controller="EventCtrl">
      <div class="container align-items-center" ng-init="init()">
        <div class="container col-md-7 panel-group">

          <div class="panel panel-primary border" ng-repeat="e in events">
            <div class="panel-heading panel-primary">
              <h3>{{e.name}}</h3>
            </div>
            <div class="panel-body">
              <p>{{e.description}}</p>
              <p><b>Where: </b>{{e.location}}</p>
              <p><b>When: </b>{{e.date | date:"MMMM d, y"}} 
                <span>{{e.start_time | date:"shortTime"}}</span>&nbsp;-&nbsp;
                <span>{{e.end_time | date:"shortTime"}}</span>
              </p>
              <table class="table table-responsive" ng-init="getPeopleByEvent(e.id)">
                <thead>
                  <tr>
                    <th class="col-md-3">Name</th>
                    <th>Notes {{e.people}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="p in people[e.id]">
                    <td>{{p.name}}</td>
                    <td>{{p.notes}}</td>
                  </tr>
                </tbody>
              </table>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registerModal" ng-click="setRegId(e.id)">
                  Register
              </button>
            </div>
            <div class="panel-footer" ng-init="getTags(e.id)">
              Tags: 
              <span class="tag" ng-repeat="t in tags[e.id]">{{t.name}} </span>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign Up for Event {{reg_event_id}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="clearReg()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form action="hello.html" method="POST"></form>
              <div class="modal-body">
                
                  <input type="hidden" name="event_id" value="{{reg_event_id}}"/>
                  <div class="form-group">
                    <label for="participant_name" class="col-form-label">Name:</label>
                    <input type="text" class="form-control" name="participant_name" placeholder="Enter name" ng-model="reg_name"/>
                  </div>
                  <div class="form-group">
                      <label for="participant_inumber" class="col-form-label">Inumber:</label>
                      <input type="text" class="form-control" name="participant_inumber" placeholder="Enter inumber" ng-model="reg_inumber"/>
                  </div>
                  <div class="form-group">
                      <label for="notes" class="col-form-label">Notes (optional):</label>
                      <textarea class="form-control" name="notes" ng-model="reg_notes"></textarea>
                  </div>
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="clearReg()">Close</button>
                <input type="submit" class="btn btn-primary" value="Register" ></button>
              </div>
            </form>
            </div>
          </div>
      </div>
  </body>
</html>
