<!doctype html>
<html lang="en">
  <head>
    <title>Student Events</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--AngularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="scripts/eventController.js"></script>
    <script src="scripts/eventService.js"></script>
  </head>
  <body ng-app="StudentEvents" ng-controller="EventCtrl">
      <div class="container" ng-init="init()">
        <div class="container col-md-7 panel-group">

          <div class="panel panel-primary border" ng-repeat="e in events">
            <div class="panel-heading panel-primary">
              <h3>{{e.name}}</h3>
            </div>
            <div class="panel-body">
              <p>{{e.description}}</p>
              <p><b>Where: </b>{{e.location}}</p>
              <p><b>When: </b>{{e.date | date:"MMMM d, y"}} 
                <span>{{e.start_time | date:"shortTime"}}</span>&nbsp;-&nbsp;
                <span>{{e.end_time | date:"shortTime"}}</span>
              </p>
              <table class="table table-responsive" ng-init="getPeopleByEvent(e.id)">
                <thead>
                  <tr>
                    <th class="col-md-3">Name</th>
                    <th>Notes {{e.people}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="p in people[e.id]">
                    <td>{{p.name}}</td>
                    <td>{{p.notes}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="panel-footer" ng-init="getTags(e.id)">
              Tags: 
              <span></span>
            </div>
          </div>
        </div>
      </div>
      
  </body>
</html>
